rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    // Utility functions

    function getRolePermissions(role) {
      return get(/databases/$(database)/documents/userRoles/$(role)).data.permissions;
    }

    function getUserOrgs() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.orgs.keys();
    }

    function getUserOrgRole(orgId) {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.orgs[orgId].role;
    }

    function isUserAuthenticated() {
      return request.auth != null
    }

    function isUserInResourceOrg() {
      return resource.data.orgId in getUserOrgs()
    }

    function isCreatingAsUserOfResourceOrg() {
      return request.resource.data.orgId in getUserOrgs();
    }

    function isCreatingAsOwner() {
      return request.resource.data.ownerId == request.auth.uid;
    }

    // Forms

    match /forms/{formId} {
      function canGetForm() {
        return isUserAuthenticated()
          && isUserInResourceOrg()
          && doesUserRoleHaveViewFormPermissions();
      }

      function canCreateForm() {
        return isUserAuthenticated()
          && isCreatingAsUserOfResourceOrg()
          && doesUserRoleHaveCreateFormPermissions()
          && !containsProtectedFormCreateKeys()
          && isCreatingAsOwner();
      }

      function canUpdateForm() {
        return isUserAuthenticated()
          && isUserInResourceOrg()
          && doesUserRoleHaveUpdateFormPermissions()
          && containsOnlyAllowedFormKeys();
      }

      function canDeleteForm() {
        return isUserAuthenticated()
          && isUserInResourceOrg()
          && doesUserRoleHaveDeleteFormPermissions();
      }

      function doesUserRoleHaveViewFormPermissions() {
        let userRole = getUserOrgRole(resource.data.orgId);
        return getRolePermissions(userRole)["viewForm"] == true;
      }

      function doesUserRoleHaveUpdateFormPermissions() {
        let userRole = getUserOrgRole(resource.data.orgId);
        return getRolePermissions(userRole)["updateForm"] == true;
      }

      function doesUserRoleHaveDeleteFormPermissions() {
        let userRole = getUserOrgRole(resource.data.orgId);
        return getRolePermissions(userRole)["deleteForm"] == true;
      }

      function doesUserRoleHaveCreateFormPermissions() {
        let userRole = getUserOrgRole(request.resource.data.orgId);
        return getRolePermissions(userRole)["createForm"] == true;
      }

      function isUserInFormResourceOrg(form) {
        return form.data.orgId in getUserOrgs();
      }

      function containsOnlyAllowedFormKeys() {
        return request.resource.data.keys().hasOnly([
        "options",
        "outputs",
        "status",
        "fields",
        "name",
        ]);
      }

      function containsProtectedFormCreateKeys() {
        return request.resource.data.keys().hasAny(["id", "createdAt", "updatedAt"]);
      }

      allow get, list: if canGetForm();
      allow create: if canCreateForm();
      allow update: if canUpdateForm();
      allow delete: if canDeleteForm();

      // Output entities

      match /outputEntities/{outputEntityId} {
        function canGetOutputEntity() {
          let form = get(/databases/$(database)/documents/forms/$(formId));

          return isUserAuthenticated()
            && isUserInFormResourceOrg(form)
            && doesUserRoleHaveViewOutputEntityPermissions(form);
        }

        function canCreateOutputEntity() {
          let form = get(/databases/$(database)/documents/forms/$(formId));

          return isUserAuthenticated()
            && doesUserRoleHaveCreateOutputEntityPermissions(form)
            && !containsProtectedOutputEntityKeys()
            && isCreatingAsOwner();
        }

        function canUpdateOutputEntity() {
          let form = get(/databases/$(database)/documents/forms/$(formId));

          return isUserAuthenticated()
            && isUserInFormResourceOrg(form)
            && doesUserRoleHaveUpdateOutputEntityPermissions(form)
            && !containsProtectedOutputEntityKeys();
        }

        function canDeleteOutputEntity() {
          let form = get(/databases/$(database)/documents/forms/$(formId));

          return isUserAuthenticated()
            && isUserInFormResourceOrg(form)
            && doesUserRoleHaveDeleteOutputEntityPermissions(form);
        }

        function doesUserRoleHaveViewOutputEntityPermissions(form) {
          let userRole = getUserOrgRole(form.data.orgId);
          return getRolePermissions(userRole)["viewOutputEntity"] == true;
        }

        function doesUserRoleHaveUpdateOutputEntityPermissions(form) {
          let userRole = getUserOrgRole(form.data.orgId);
          return getRolePermissions(userRole)["updateOutputEntity"] == true;
        }

        function doesUserRoleHaveDeleteOutputEntityPermissions(form) {
          let userRole = getUserOrgRole(form.data.orgId);
          return getRolePermissions(userRole)["deleteOutputEntity"] == true;
        }

        function doesUserRoleHaveCreateOutputEntityPermissions(form) {
          let userRole = getUserOrgRole(form.data.orgId);
          return getRolePermissions(userRole)["createOutputEntity"] == true;
        }

        function containsProtectedOutputEntityKeys() {
          return request.resource.data.keys().hasAny(["id", "createdAt", "updatedAt"]);
        }

        allow get, list: if canGetOutputEntity();
        allow create: if canCreateOutputEntity();
        allow update: if canUpdateOutputEntity();
        allow delete: if canDeleteOutputEntity();
      }

      // Entries

      match /entries/{entryId} {
        let form = get(/databases/$(database)/documents/forms/$(formId));

        function canGetEntry() {
          let form = get(/databases/$(database)/documents/forms/$(formId));

          return isUserAuthenticated()
            && isUserInFormResourceOrg()
            && doesUserRoleHaveViewEntryPermissions(form);
        }

        function canCreateEntry() {
          let form = get(/databases/$(database)/documents/forms/$(formId));

          return isUserAuthenticated()
            && doesUserRoleHaveCreateEntryPermissions(form)
            && !containsProtectedEntryCreateKeys()
            && isCreatingAsOwner();
        }

        function canUpdateEntry() {
          let form = get(/databases/$(database)/documents/forms/$(formId));

          return isUserAuthenticated()
            && isUserInFormResourceOrg()
            && (doesUserRoleHaveUpdateEntryPermissions(form)
            || (doesUserRoleHaveUpdateOwnEntryPermissions(form)
            && isUserOwnerOfEntry()));
        }

        function canDeleteEntry() {
          let form = get(/databases/$(database)/documents/forms/$(formId));

          return isUserAuthenticated()
            && isUserInFormResourceOrg()
            && (doesUserRoleHaveDeleteEntryPermissions(form)
            || (doesUserRoleHaveDeleteOwnEntryPermissions(form)
            && isUserOwnerOfEntry()));
        }

        function doesUserRoleHaveViewEntryPermissions(form) {
          let userRole = getUserOrgRole(form.data.orgId);
          return getRolePermissions(userRole)["viewEntry"] == true;
        }

        function doesUserRoleHaveUpdateEntryPermissions(form) {
          let userRole = getUserOrgRole(form.data.orgId);
          return getRolePermissions(userRole)["updateEntry"] == true;
        }

        function doesUserRoleHaveDeleteEntryPermissions(form) {
          let userRole = getUserOrgRole(form.data.orgId);
          return getRolePermissions(userRole)["deleteEntry"] == true;
        }

        function doesUserRoleHaveDeleteEntryPermissions(form) {
          let userRole = getUserOrgRole(form.data.orgId);
          return getRolePermissions(userRole)["deleteEntry"] == true;
        }

        function doesUserRoleHaveDeleteOwnEntryPermissions(form) {
          let userRole = getUserOrgRole(form.data.orgId);
          return getRolePermissions(userRole)["deleteOwnEntry"] == true;
        }

        function doesUserRoleHaveCreateEntryPermissions(form) {
          let userRole = getUserOrgRole(form.data.orgId);
          return getRolePermissions(userRole)["createEntry"] == true;
        }

        function containsProtectedEntryCreateKeys() {
          return request.resource.data.keys().hasAny(["id", "formId", "createdAt", "updatedAt"]);
        }

        function isUserOwnerOfEntry() {
          return request.auth.uid == resource.data.ownerId;
        }

        allow get, list: if canGetEntry();
        allow create: if canCreateEntry();
        allow update: if canUpdateEntry();
        allow delete: if canDeleteEntry();
      }
    }

    // Organisations

    match /orgs/{orgId} {
      function isUserInCurrentOrg() {
        return orgId in getUserOrgs();
      }

      function doesUserRoleHaveViewOrgPermissions() {
        let userRole = getUserOrgRole(orgId);
        return getRolePermissions(userRole)["viewOrg"] == true;
      }

      function doesUserRoleHaveUpdateOrgPermissions() {
        let userRole = getUserOrgRole(orgId);
        return getRolePermissions(userRole)["updateOrg"] == true;
      }

      function doesUserRoleHaveDeleteOrgPermissions() {
        let userRole = getUserOrgRole(orgId);
        return getRolePermissions(userRole)["deleteOrg"] == true;
      }

    // function doesUserRoleHaveCreateOrgPermissions() {
      //   let userRole = getUserOrgRole(orgId);
      //   return getRolePermissions(userRole)["createOrg"] == true;
      // }

      function protectedOrgKeysAreNotUpdated() {
        return request.resource.data.id == resource.data.id
          && request.resource.data.createdAt == resource.data.createdAt
          && request.resource.data.updatedAt == resource.data.updatedAt;
      }

      allow get, list: if isUserAuthenticated()
        && isUserInCurrentOrg()
        && doesUserRoleHaveViewOrgPermissions();
      allow create: if false;
      allow update: if isUserAuthenticated()
        && isUserInCurrentOrg()
        && doesUserRoleHaveUpdateOrgPermissions()
        && protectedOrgKeysAreNotUpdated();
      allow delete: if isUserAuthenticated()
        && isUserInCurrentOrg()
        && doesUserRoleHaveDeleteOrgPermissions();
    }

    // User

    match /users/{userId} {
      allow get: if isUserAuthenticated()
        && request.auth.uid == userId;
      allow create, list: if false;
      allow update: if false;
      allow delete: if isUserAuthenticated()
        && request.auth.uid == userId;
    }
  }
}